<%- include ./partials/header %>
<script>
    function getmonth(data) {
        switch (data) {
            case 0:
                return 'Jan';
                break;
            case 1:
                return 'Feb';
                break;
            case 2:
                return 'March';
                break;
            case 3:
                return 'Apr';
                break;
            case 4:
                return 'May';
                break;
            case 5:
                return 'Jun';
                break;
            case 6:
                return 'Jul';
                break;
            case 7:
                return 'Aug';
                break;
            case 8:
                return 'Sep';
                break;
            case 9:
                return 'Oct';
                break;
            case 10:
                return 'Nov';
                break;
            case 11:
                return 'Dec';
                break;
            default: break;
        }
    };
</script>
<main id="content">
    <div class="content-widget">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4 class="spanborder">
                        Search result for
                        <span class="">"<%= search.charAt(0).toUpperCase() + search.substring(1) %>"</span>
                    </h4>
                    <% if(data == "") { %>
                    <h4>Nothing matches your search..</h4>
                    <% } %>
                    <% for(let item of data) { %>
                    <article class="row justify-content-between mb-5 mr-0">
                        <div class="col-md-9 ">
                            <div class="align-self-center">
                                <% if(item.showPostOnSlider == true) { %>
                                <div class="capsSubtle mb-2">Editors' Pick</div>
                                <% } %>
                                <h3 class="entry-title mb-3"><a
                                        href="/post/<%= item.slug %>"><%= item.title.charAt(0).toUpperCase() + item.title.substring(1) %>
                                    </a></h3>
                                <div class="entry-excerpt">
                                    <p class="entry-tit">
                                        <% if(item.short != undefined) { %>
                                        <%= item.short.charAt(0).toUpperCase() + item.short %>
                                        <% } %>
                                    </p>
                                </div>
                                <div class="entry-meta align-items-center">
                                    <a href="/author/<%= item.postedBy.username %>"><%= item.postedBy.firstName %>
                                        <%= item.postedBy.lastName %></a> in <a
                                        href="/category/<%= item.category.slug %>"
                                        class="text-capitalize"><%= item.category.name %></a><br>
                                    <span>
                                        <script>document.write(getmonth(parseInt('<%= item.createdAt.getMonth() %>')))</script>
                                        <%= item.createdAt.getDay() %></span>
                                    <span class="middotDivider"></span>
                                    <span class="readingTime"
                                        title="<%= time(item.short) %>"><%= time(item.short) %></span>
                                    <span class="svgIcon svgIcon--star">
                                        <svg class="svgIcon-use" width="15" height="15">
                                            <path
                                                d="M7.438 2.324c.034-.099.09-.099.123 0l1.2 3.53a.29.29 0 0 0 .26.19h3.884c.11 0 .127.049.038.111L9.8 8.327a.271.271 0 0 0-.099.291l1.2 3.53c.034.1-.011.131-.098.069l-3.142-2.18a.303.303 0 0 0-.32 0l-3.145 2.182c-.087.06-.132.03-.099-.068l1.2-3.53a.271.271 0 0 0-.098-.292L2.056 6.146c-.087-.06-.071-.112.038-.112h3.884a.29.29 0 0 0 .26-.19l1.2-3.52z">
                                            </path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 bgcover blur-up lazyload" data-bg="<%= item.file %>"></div>
                    </article>
                    <% } %>
                    <% if (pages > 0) { %>
                    <ul class="page-numbers heading">
                        <% if (current == 1) { %>
                        <li><a class="disabled page-numbers" href="javascript:void(0);">First</a></li>
                        <% } else { %>
                        <li><a class="page-numbers" href="?page=1">First</a></li>
                        <% } %>
                        <% var i = (Number(current) > 3 ? Number(current) - 3 : 1) %>
                        <% if (i !== 1) { %>
                        <li><a class="disabled page-numbers" href="javascript:void(0);">...</a></li>
                        <% } %>
                        <% for (; i <= (Number(current) + 2) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                        <li><span aria-current="page" class="page-numbers current"><%= i %></span></li>
                        <% } else { %>
                        <li><a class="page-numbers" href="?page=<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 2 && i < pages) { %>
                        <li><a class="disabled page-numbers" href="javascript:void(0);">...</a></li>
                        <% } %>
                        <% } %>
                        <% if (current == pages) { %>
                        <li><a class="disabled page-numbers" href="javascript:void(0);">Last</a></li>
                        <% } else { %>
                        <li><a class="page-numbers" href="?page=<%= pages %>">Last</a></li>
                        <% } %>
                    </ul>
                    <% } %>

                </div>
                <!--col-md-8-->
                <div class="col-md-4 pl-md-5 sticky-sidebar">
                    <div class="sidebar-widget latest-tpl-4">
                        <h5 class="spanborder widget-title">
                            <span>Random Posts</span>
                        </h5>
                        <ol>
                            <% for(let item of random) { %>
                            <li class="d-flex">
                                <div class="post-count">0<%= random.indexOf(item) +1 %></div>
                                <div class="post-content">
                                    <h5 class="entry-title mb-3"><a
                                            href="/post/<%= item.slug %>"><%= item.title.charAt(0).toUpperCase() + item.title.substring(1) %></a>
                                    </h5>
                                    <div class="entry-meta align-items-center">
                                        <a href="/author/<%= item.postedBy.username %>"
                                            class="text-capitalize"><%= item.postedBy.firstName %>
                                            <%= item.postedBy.lastName %></a> in <a
                                            href="/category/<%= item.category.slug %>"
                                            class="text-capitalize"><%= item.category.name %></a><br>
                                        <span>
                                            <script>document.write(getmonth(parseInt('<%= item.createdAt.getMonth() %>')))</script>
                                            <%= item.createdAt.getDay() %></span>
                                        <span class="middotDivider"></span>
                                        <span class="readingTime"
                                            title="<%= time(item.short) %>"><%= time(item.short) %></span>
                                        <span class="svgIcon svgIcon--star">
                                            <svg class="svgIcon-use" width="15" height="15">
                                                <path
                                                    d="M7.438 2.324c.034-.099.09-.099.123 0l1.2 3.53a.29.29 0 0 0 .26.19h3.884c.11 0 .127.049.038.111L9.8 8.327a.271.271 0 0 0-.099.291l1.2 3.53c.034.1-.011.131-.098.069l-3.142-2.18a.303.303 0 0 0-.32 0l-3.145 2.182c-.087.06-.132.03-.099-.068l1.2-3.53a.271.271 0 0 0-.098-.292L2.056 6.146c-.087-.06-.071-.112.038-.112h3.884a.29.29 0 0 0 .26-.19l1.2-3.52z">
                                                </path>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <% } %>
                        </ol>
                    </div>
                </div>
                <!--col-md-4-->
            </div>
        </div>
        <!--content-widget-->
    </div>

    <div class="content-widget">
        <div class="container">
            <div class="sidebar-widget ads">
                    <% if(searchFooter[0] != undefined){ %>
						<a href="<%= searchFooter[0].url %>"><img style="width: 600px !important; height: 70px !important; object-fit: cover !important;" alt="<%= siteTitle %>" data-src="<%= searchFooter[0].fileName %>" class="blur-up lazyload img-fluid"></a>
					<% } %>
            </div>
            <div class="hr"></div>
        </div>
    </div>
    <!--content-widget-->
</main>

<%- include ./partials/footer %>